@import url("imports/tabs_fill_available_width.css");
@import url("imports/tabs_on_bottom.css");
@import url("imports/inline_tab_audio_icons.css");
@import url("imports/tab_close_button_always_on_hover.css");
@import url("imports/centered_tab_content.css");
@import url("imports/minimal_in-UI_scrollbars.css");
@import url("imports/classic_grid_main_menu_popup.css");
@import url("imports/container-adjustments.css");

/* make tabs thinner :) */
:root {
	--tab-min-height: 28px !important;
}
/* center url 
#urlbar-input-container{
	text-align: center;
}
*/
