/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/newtab_background_color.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{background-color: rgb(12, 12, 13);}
}
@-moz-document("about:privatebrowsing"){
  .search-handoff-button{ background-color: rgba(100,100,100,0.1) !important; }
  .fake-textbox{ color: rgb(200,200,200) !important } 
}
