.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line{
	height: 3px !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	margin: 0px !important;
}
