/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_close_button_always_on_hover.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Always show tab close button on hover and never otherwise */

/*changed display:none to visibility:hidden to resolve conflict with centered_tab_content.css*/
.tabbrowser-tab .tab-close-button{
  visibility:hidden;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
  visibility:visible;
}
